
<div >
  <div class="top-pading-question-show list-display-feedback">
    <p><%= @question.feedback  %></p>
    <!-- List of all the answers -->
    <ul style="list-style-type: none">
      <%= hidden_field_tag(:question_id, @question.id) %>
      <% @question.answers.each do |answer| %>
        <li>
          <% if answer.correct == true %>
            <p class="feedback-correct-answer">
              <i class="fas fa-thumbs-up"></i>&nbsp;
              <%= answer.content %></p >
          <% else %>
              <p class="normal_answer">
                <i class="far fa-thumbs-down"></i>&nbsp;
                <%= answer.content %></p>
          <% end %>
        </li>
      <% end %>
    </ul>

    <!-- link after the feedback -->
    <% if @question == @game.questions.last %>
      <%= link_to "Next question!", finish_game_path, class: "btn btn-lg btn-primary fixed-bottom btn-answer-block" %>
    <% else %>
      <%= link_to "Next question!", question_path(@next_question.id), class: "btn btn-lg btn-primary fixed-bottom btn-answer-block" %>
  <% end %>
  </div>
</div>
