<p><%= @question.feedback %></p>
<ul>
  <%= hidden_field_tag(:question_id, @question.id) %>
  <% @question.answers.each do |answer| %>
    <li>
      <% if answer.correct == true %>
        <strong><%= answer.id %> - <%= answer.content %></strong>
      <% else %>
        <p><%= answer.id %> - <%= answer.content %></p>
      <% end %>
    </li>
  <% end %>
</ul>
