<div class="container">
  <div class="top-pading-question-show list-display-feedback"> <!-- Why is the bottom button included in this? -->
    <p class="base-text"><%= @question.feedback  %></p>
    <!-- List of all the answers -->
    <ul class="list-group list-group-flush">
      <%= hidden_field_tag(:question_id, @question.id) %>
      <% @question.answers.each do |answer| %>
        <% if answer.correct == true %>
          <li class="list-group-item bg-info d-flex";>
            <p class="base-text"><i class="fas fa-thumbs-up text-danger">&nbsp;</i></p>
            <p class="base-text">&nbsp;-&nbsp;<%= answer.content %></p>
          </li>
        <!--  in case we want to show all answers again:
        <% #else %>
          <li class="list-group-item d-flex">
            <p class="base-text"><i class="far fa-thumbs-down"></i>&nbsp;</p>
            <p class="base-text">&nbsp;-&nbsp;<%= answer.content %></p>
          </li> -->
        <% end %>
      <% end %>
    </ul>
  </div> <!-- list-display-feedback end -->

    <!-- link after the feedback -->
  <div class="fixed-bottom bg-white">
    <% if @question == @game.questions.last %>
      <%= link_to "Finish Game!", finish_game_path, class: "btn btn-lg btn-primary btn-answer-block" %>
    <% else %>
      <%= link_to "Next question!", question_path(@next_question.id), class: "btn btn-lg btn-primary btn-answer-block" %>
    <% end %> <!-- Link end -->
  </div>
</div> <!-- Container end -->
