<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="picture-padding">
        <%= image_tag("#{@question.photo}", alt: "#{@question.photo}", width: 250) %>
      </div>
    </div>

    <div class="col-12 col-md-6 offset-md-3 top-pading-question-show">
      <p class="base-text"><%= @question.content.html_safe%></p>
      <%= simple_form_for @user_answer do |f| %>
        <ul class="list-group list-group-flush">
          <%= f.input :question_id, :as => :hidden %>
          <%= f.input :chosen_answer_id, as: :radio_buttons, collection: answer_collection_for_question(@question), label: false, item_wrapper_tag: :li, item_wrapper_class: "list-group-item d-flex base-text" %>
        </ul>

        <div class="fixed-bottom bg-white">
          <%= f.button :submit, "Check my answer!", class: "btn btn-lg btn-danger btn-answer-block" %>
        </div>
      <% end %>
    </div>

  </div> <!-- end of row -->
</div> <!-- end of container -->
