<div class="top-pading-question-show list-display-question">
  <p><%= @question.content %></p>

  <div class="question_field">
    <%= form_for(user_answers_path, :method => "post") do |f| %>
      <%= f.text_area :question_id, :placeholder => "Type your thoughts in here" %>
      <%= hidden_field_tag(:question_id, @question.id) %>
    <% end %>
  </div>

  <!-- submit -->
  <div>
    <%= submit_tag("Check my answer!", class: "btn btn-lg btn-danger fixed-bottom btn-answer-block") %>
  </div>

</div>
