<div class="container">
  <div class="row">

    <div class="col-12 col-md-6 offset-md-3">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
        src="https://www.youtube.com/embed/UkYsd0Ibxp4" allowfullscreen>
        </iframe>
      </div>
    </div>

    <div class="top-padding-question-show col-12 col-md-6 offset-md-3">
      <p><%= @question.content %></p>
      <%= form_tag(user_answers_path, :method => "post") do %>
        <ul style="list-style-type: none">
            <%= hidden_field_tag(:question_id, @question.id) %>
            <% @question.answers.each do |answer| %>
              <li class="normal_answer">
                 <label><%= radio_button_tag(:choosen_answer_id, answer.id)  %>&nbsp;
                <%= answer.content %></label>
              </li>
            <% end %>
        </ul>
         <div >
          <%= submit_tag("Check my answer!", class: "btn btn-lg btn-danger fixed-bottom btn-answer-block") %>
         </div>
      <% end %>
    </div>

  </div> <!-- end of row -->
</div> <!-- end of container -->

