<% if current_user.role != "admin" %>
  <div class="container"> <!-- for non-admins -->
    <div class="row">
      <div class="col-12">
        <h3 class="text-center deny-header"><i class="fas fa-ban text-danger"></i> You do not have access to this content <i class="fas fa-lock text-danger"></i></h3>
      </div>
    </div>
  <div> <!-- Container end -->
<% else %>
  <!-- For admins -->
  <div class="container-fluid" id="ProgressBarAdmin">
    <div class="row">
      <!-- Links to new and edit -->
      <div class="col-12 text-center">
        <%= link_to "Create a new game", new_game_path, class: "btn btn-lg btn-danger deny-header" %>
      </div>
    </div> <!-- row end -->

    <div class="row"> <!-- Statistics -->
      <!-- progress bar showing average of all user answers compared to total answers -->
      <div class="col-12">
        <h3 class="deny-header">Average User Progress: <strong><span id="adminText"></span></strong></h3>
        <div class="progress mt-auto">
          <div id="goalBarAdmin"
          class="progress-bar bg-primary"
          role="progressbar"
          aria-valuenow="<%= @user_answers * 100 / @users.size / @question_all %>" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          </div>
        </div>
      </div>
    </div> <!-- Row end -->

    <div class="row">
      <div class="col-12 header-margin-count">
      </div>
      <div class="col-12 col-md-4">
        <h3>Competences <span class="badge badge-pill badge-danger"><%= @competences_all.size %></span></h3>
      </div>
      <div class="col-12 col-md-4">
        <h3>Games <span class="badge badge-pill badge-danger"><%= @games_all.size %></span></h3>
      </div>
      <div class="col-12 col-md-4">
        <h3>Questions <span class="badge badge-pill badge-danger"><%= @question_all %></span></h3>
      </div>
      <div class="col-12 footer-margin-count">
      </div>
    <% @competences_all.each do |competence| %> <!-- Show all competences -->
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <div class="card text-white competence-body-link
          <%= competence.color.name %>"> <!-- Card with background color set according to class -->
          <div class="card-body d-flex flex-column">
            <h4><%= competence.name %></h4>
            <div class="text-under-card-icon">
              <i class="<%= competence.color.icon %> fa-9x img-fluid"></i>
            </div>
            <h5 class="mt-auto p-2">Games: <%= @games_all.where(competence_id: competence).size %></h5>
            <h5>Questions: <%= @question_all_list.where(game_id: (@games_all.where(competence_id: competence))).size %></h5>
          </div>
          <%= link_to "", competence_path(competence), class: "competence-link" %>
        </div> <!-- Card end -->
      </div> <!-- Col end -->
    <% end %> <!-- Loop end -->
    <% @users.each do |user| %> <!-- Users -->
      <div class="col-12 header-margin-count">
        <h4><%= user.name %></h4>
        <p>Answers: <%= user.user_answers.size %></p>
      </div>
    <% end %> <!-- Users end -->

    </div> <!-- Row end -->

  </div> <!-- Container-fluid end -->
<% end %>
