<div class="finish container-fluid container-0padding">
  <div class="mx-auto div-logo" id="JS-on-finish-page">
  <div class="d-flex text-center justify-content-center logo-placement"><%= image_tag "logo-crown.png", alt: "logo", height: 300 %>
  </div>
</div>

<div class="div-text">
  <div class="goodbye-text-padding">
    <h2>Congratulations<br><%= current_user.name %>!</h2>
    <p>You achieved <i class='far fa-check-circle text-primary'></i> <span id="JS-correct-finish-page"></span> of <span id="JS-total-finish-page"></span> in this game!</p>
    <br><p>Wanna keep on playing?<br><i class="fas fa-arrow-circle-down"></i><b> Choose your next skill! <b><i class="fas fa-arrow-circle-down"></i></p>
  </div>
</div>

<div class="fixed-bottom div-bottom-competences"> <!-- fix the competences to the bottom -->
  <div class="d-flex text-center justify-content-center"> <!-- give size to the competences line -->
    <% @competences.each do |competence| %>
      <div class="card card-no-br text-white <%= competence.color.name %> mb-3 competence-body-link d-flex flex-column"> <!-- Card -->
        <div class="card-body d-flex flex-column">
          <div class="mt-auto">
            <i class="<%= competence.color.icon %> fa-9x img-fluid image-size-control"></i>
          </div>
        </div>
        <%= link_to "", competence_path(competence), class: "competence-link" %>
      </div> <!-- Col end -->
    <% end %> <!-- Loop end -->
  </div> <!-- flex -->
</div> <!-- fixed bottom -->
</div>
