<!-- Uggly hack to remove the default navbar on this page only! -->
<% content_for :navbar do %>
<input type="hidden">
<% end %>

<div class="container-fluid container-0padding">
  <!-- Flexbox used to place logo and other elements over the design bars -->
  <div class="position-absolute logo-placement d-flex flex-column justify-content-center"> <!-- container for logo and header -->
    <div class="d-flex justify-content-center">
      <%= image_tag("logo_150.png", class: "d-block d-md-none") %>
      <%= image_tag("logo_300.png", class: "d-none d-md-block") %>
    </div>
    <div class="d-flex justify-content-center">
      <h1 class="margin-title size-title text-white text-center d-block d-md-none">Work. Play. Learn.</h1>
      <h1 class="margin-title text-white text-center d-none d-md-block">Work. Play. Learn</h1>
    </div>
    <div class="d-flex justify-content-center margin-button">
      <!-- Login modal button -->
      <% if current_user %>
        <h5 class="text-white d-block d-md-none size-title">Start to Play!</h5>
        <h5 class="text-white d-none d-md-block">Start to Play!</h5>
      <% else %>
        <button class="btn btn-lg button-opacity text-white d-block d-md-none size-title" data-toggle="modal" data-target="#loginModal">Login</button>
        <button class="btn btn-lg button-opacity large-text text-white d-none d-md-block" data-toggle="modal" data-target="#loginModal">Login</button>
      <% end %>
    </div>
  </div> <!-- logo and header end -->
  <div class="row col-color-bar bg-my-black"></div>
  <div class="row col-color-bar bg-dark"></div>
  <div class="row col-color-bar bg-success"></div>
  <div class="row col-color-bar bg-info"></div>
  <div class="row col-color-bar bg-my-md-info"></div>
  <div class="row col-color-bar bg-primary"></div>
  <div class="row col-color-bar bg-my-bright-primary"></div>
  <div class="row col-color-bar bg-warning"></div>
  <div class="row col-color-bar bg-my-bright-warning"></div>
  <div class="row col-color-bar bg-danger"></div>
  <div class="row col-color-bar-last bg-my-bright-danger"></div>
  <!-- <div class="row col-color-bar bg-light"></div> -->
  <% if current_user %>
    <a class="competence-link" href="/competences" ></a>
  <% end %>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login to start</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Rails devise -->
        <%= simple_form_for(resource, :as => resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-lg btn-primary btn-block text-white" %>
          </div>
          <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-sm btn-warning text-white margin-button" %>
        <% end %>
        <!-- Rails devise end -->
      </div>
    </div>
  </div>
</div> <!-- Modal end -->

