<div class= "container">
  <div class="text-center game-show-title">
    <h2> Create a new game</h2>
  </div>
  <%= simple_form_for @game do |f| %>
    <%= f.association :competence %>
    <%= f.input :name %>
    <%= f.input :description %>

    <div class="fixed-bottom bg-white">
      <%= f.button :submit, "Create a new game!", class: "btn btn-lg btn-danger btn-answer-block" %>
    </div>
  <% end %>
</div>

