<div class="competence_name <%= @game.competence.color.name %>">
  <h3><%= @game.competence.name %></h3>
</div>
<div class= "container">
  <div class= "top-pading-question-show" >
    <div class="text-center">
      <h6 class="btn btn-primary competence_name <%= @game.competence.color.name %>"
        data-toggle="collapse" href="#collapseNewQuestion" role="button" aria-expanded="true" aria-controls="collapseNewQuestion">
        Add a new question to <%= @game.name %>
      </h6>
    </div>
    <div class="collapse" id="collapseNewQuestion">
      <%= simple_form_for [@game, @question] do |f| %>
        <%= f.input :game_id, :as => :hidden %>
        <%= f.input :content, placeholder: "Write your question", label: false  %>
        <%= f.input :feedback, placeholder: "Write some feedback", label: false  %>
        <%= f.input :question_type, placeholder: "Question Type", label: false  %>
        <%= f.input :photo, placeholder: "Photo url", label: false %>
        <%= f.input :video,placeholder: "Video url", label: false  %>
        <div class="bg-white">
          <%= f.button :submit, "Create a new question!", class: "btn btn-lg btn-danger " %>
        </div>
      <% end %>
    </div>
     <!-- if there are no question display a mesage - if not the list of questions -->
      <% if @game.questions.blank? %>
        <h3><%= @game.name %></h3>
        <p>This game still don't have questions</p>
      <% else %>
      <!-- list of questions of the game-->
        <h3>Questions of <%= @game.name %>:</h3>
        <ul class= "list-of-question-in-game">
          <% @game.questions.each do |question| %>
           <li class = "question-box-in-game border border-right-0 border-left-0 text-left">
              <h4 class="btn btn-primary"
        data-toggle="collapse" href="#collapseQuestion<%= question.id %>" role="button" aria-expanded="false" aria-controls="collapseQuestion<%= question.id %>"><%=question.id %></h4><br>

              <div class="collapse" id="collapseQuestion<%= question.id %>">
                <strong>Question content:</strong><br><%=question.content %> <br>
                <strong>Question feedback:</strong><br><%=question.feedback  %><br>
                <strong>Question type:</strong><br><%=question.question_type  %>
              </div>
           </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>


    <div >
      <h6 class="btn"
        data-toggle="collapse" href="#collapseNewQuestion2" role="button" aria-expanded="true" aria-controls="collapseNewQuestion2"> oihouh

      </h6>
    </div>
    <div class="collapse" id="collapseNewQuestion2">
      <p>kugluyfgkuyv</p>
    </div>

    </div>

