<div class="container" id="competenceProgressBarPage">
  <div class="d-flex flex-column justify-content-center"> <!-- container for logo and header -->
    <div class="d-flex justify-content-center margin-button">
      <%= image_tag("logo_150.png", class: "d-block d-md-none image-size-100px-logo") %>
      <%= image_tag("logo_300.png", class: "d-none d-md-block") %>
    </div>
    <div class="text-center">
      <h4>Hello <%= current_user.name %>!</h4>
      <div class="row">
        <div class="col-6 d-flex flex-column">
          <p class="d-block d-md-none">Overall Goals: <strong><span id="goalTextMobile"></span></strong></p>
          <h3 class="d-none d-md-block">Overall Goals: <strong><span id="goalText"></span></strong></h3>
          <div class="progress mt-auto">
            <div id="goalBar" class="progress-bar bg-primary" role="progressbar" aria-valuenow="<%= @user_correct_answers * 100 / Question.all.count %>" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            <div id="goalBarWrong" class="progress-bar bg-danger" role="progressbar" aria-valuenow="<%= @user_wrong_answers * 100 / Question.all.count %>" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
          </div>
        </div>
        <div class="col-6 d-flex flex-column">
          <p class="d-block d-md-none">Achieved today: <strong><span id="achievementTextMobile"></span></strong></p>
          <h3 class="d-none d-md-block">Achieved today: <strong><span id="achievementText"></span></strong></h3>
          <div class="progress mt-auto">
            <div id="achievementBar" class="progress-bar bg-primary" role="progressbar" aria-valuenow="<%= @correct_daily_answer_pct %>" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            </div>

            <div id="achievementBarWrong" class="progress-bar bg-danger" role="progressbar" aria-valuenow="<%= @wrong_daily_answer_pct %>" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- list os competences -->
  <div class="row margin-title">
    <% @competences.each do |competence| %>
      <div class="col-6 text-center">
        <div class="card text-white mb-3 competence-body-link
          <%= competence.color.name %>"> <!-- Card with background color set according to class -->
          <div class="card-body d-flex flex-column">
            <p class="d-block d-md-none"><%= competence.name %></p>
            <h2 class="d-none d-md-block"><%= competence.name %></h2>
            <div class="mt-auto">
              <i class="<%= competence.color.icon %> fa-9x img-fluid"></i>
            </div>
          </div>
          <%= link_to "", competence_path(competence), class: "competence-link" %>
        </div> <!-- Card end -->
      </div> <!-- Col end -->
    <% end %> <!-- Loop end -->
  </div> <!-- Row end -->
</div> <!-- Container end -->
