<div class="container">
  <div class="d-flex flex-column justify-content-center"> <!-- container for logo and header -->
    <div class="d-flex justify-content-center margin-button">
      <%= image_tag("logo_150.png", class: "d-block d-md-none image-size-100px-logo") %>
      <%= image_tag("logo_300.png", class: "d-none d-md-block") %>
    </div>
    <div class="text-center">
      <h4>Hello <%= current_user.name %>!</h4>
      <div class="row">
        <div class="col-6 d-flex flex-column">
          <p class="d-block d-md-none">Your Goals: <strong><span id="goalTextMobile"></span></strong></p>
          <h3 class="d-none d-md-block">Your Goals: <strong><span id="goalText"></span></strong></h3>
          <div class="progress mt-auto">
            <div id="goalBar" class="progress-bar bg-primary" role="progressbar" aria-valuenow="<%= UserAnswer.where(:user_id => current_user, :correct => true).count * 100 / Question.all.count %>" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            <div id="goalBarWrong" class="progress-bar bg-danger" role="progressbar" aria-valuenow="<%= UserAnswer.where(:user_id => current_user, :correct => false).count * 100 / Question.all.count %>" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            <!-- <div class="progress-bar bg-danger" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div> -->
          </div>
        </div>
        <div class="col-6 d-flex flex-column">
          <p class="d-block d-md-none">Achievements today: <strong><span id="achievementTextMobile"></span></strong></p>
          <h3 class="d-none d-md-block">Achievements today: <strong><span id="achievementText"></span></strong></h3>
          <div class="progress mt-auto">
            <div id="achievementBar" class="progress-bar bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- list os competences -->
  <div class="row margin-title">
    <% @competences.each.with_index do |competence, index| %>
      <div class="col-6 text-center">
        <div class="card text-white mb-3 competence-body-link
          <% if index == 0 %>
            bg-primary
          <% elsif index == 1 %>
            bg-info
          <% elsif index == 2 %>
            bg-my-black
          <% elsif index == 3 %>
            bg-warning
          <% else %>
            bg-info
          <% end %>
        "> <!-- Card with background color set according to class -->
          <div class="card-body d-flex flex-column">
            <p class="d-block d-md-none"><%= competence.name %></p>
            <h2 class="d-none d-md-block"><%= competence.name %></h2>
            <div class="mt-auto">
              <% if index == 0 %>
                <i class="far fa-paper-plane fa-9x img-fluid"></i>
              <% elsif index == 1 %>
                <i class="fas fa-star fa-9x img-fluid"></i>
              <% elsif index == 2 %>
                <i class="far fa-heart fa-9x img-fluid"></i>
              <% elsif index == 3 %>
                <i class="fas fa-search fa-9x img-fluid"></i>
              <% else %>
                <i class="far fa-heart fa-9x img-fluid"></i>
              <% end %>
            </div>
            <!-- <div class="mt-auto"><%= image_tag(competence.image_name, class: "img-fluid image-size-control") %></div> -->
          </div>
          <%= link_to "", competence_path(competence), class: "competence-link" %>
        </div> <!-- Card end -->
      </div> <!-- Col end -->
    <% end %> <!-- Loop end -->
  </div> <!-- Row end -->
</div> <!-- Container end -->
