<div class="container">
  <div class="d-flex flex-column justify-content-center"> <!-- container for logo and header -->
    <div class="d-flex justify-content-center margin-button">
      <%= image_tag("logo_150.png", class: "d-block d-md-none image-size-100px-logo") %>
      <%= image_tag("logo_300.png", class: "d-none d-md-block") %>
    </div>
    <div class="text-center">
      <h4>Hello <%= current_user.name %>!</h4>
      <div class="row">
        <div class="col-6 d-flex flex-column">
          <p class="d-block d-md-none">Your Goals: <strong>35%</strong></p>
          <h3 class="d-none d-md-block">Your Goals: <strong>35%</strong></h3>
          <div class="progress mt-auto">
            <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            <!-- <div class="progress-bar bg-danger" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div> -->
          </div>
        </div>
        <div class="col-6 d-flex flex-column">
          <p class="d-block d-md-none">Achievements today: <strong>25</strong></p>
          <h3 class="d-none d-md-block">Achievements today: <strong>25</strong></h3>
          <div class="progress mt-auto">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- list os competences -->
  <div class="row margin-title">
    <% @competences.each do |competence| %>
      <div class="col-6 text-center">
        <div class="card text-white <%= competence.image_name %> mb-3 competence-body-link"> <!-- Card -->
          <div class="card-body d-flex flex-column">
            <p class="d-block d-md-none"><%= competence.name %></p>
            <h2 class="d-none d-md-block"><%= competence.name %></h2>
            <div class="mt-auto"><%= image_tag(competence.image_name, class: "img-fluid image-size-control") %></div>
          </div>
          <%= link_to "", competence_path(competence), class: "competence-link" %>
        </div> <!-- Card end -->
      </div> <!-- Col end -->
    <% end %> <!-- Loop end -->
  </div> <!-- Row end -->
</div> <!-- Container end -->
